@keyframes borderShine {
    0% {
        border-color: #ffffff;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    }
    50% {
        border-color: #a0a0a0;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        border-color: #ffffff;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    }
}

.animated-login-btn {
    border: 2px solid #ffffff; 
    animation: borderShine 1.5s infinite;
    padding: 8px 22px; 
    font-size: 1.25rem;
    border-radius: 8px;
    transition: border-color 1s ease, box-shadow 1s ease;
    text-align: center;
}


.navbar-custom {
    background-color: #d3d3d3dc; 
    backdrop-filter: blur(1.5px);
    transition: background-color 0.3s ease; 
}

.navbar-custom.scrolled {
    background-color: rgba(255, 255, 255, 0.253); 
}
